body{
    font-family:'optima', sans-serif, Verdana;
    margin: 0;
    padding: 0;
}

#header{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   background-color: grey;
   
}

a{
    color: white;
    text-decoration: none;
    padding: 1rem 2rem;
    font-size: 1.5em;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li{
    list-style: none;
}

h2, .quote, .quotetwo{
    color: white;
}

.skyline{
    position: relative;
    text-align: center;
}

img{
    max-width: 100%;
}
.quote{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
}

.quotetwo{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}