/* main page */

* body{
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

#header{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   background-color: darkgrey;
}

#header > .name{
    width: 100%;
    height: 100%;
    padding-left: 20px;
    font-size: 1.5em;
}

#navbar{
    font-weight: 400;
    width: 60vw;
    padding-top: 20px;
}

#header a {
    color: white;
    text-decoration: none;
    font-size: 1.0em;
    box-shadow: inset 0 0 0 0 white;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

#header a:hover{
    box-shadow: inset 200px 0 0 0 white;
    color: darkgrey
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li{
    list-style: none;
}

.name, .quote{
    color: white;
}

.skyline{
    position: relative;
    text-align: center;
}

.skyline > img {
    max-width: 100%;
    height: auto;
}

.quote{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
}


/* about page */

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 50px;
}

.headshot > img{
   width: 400px;
   padding-top: 15px;
   padding-right: 25px;
}

.about{
    color: grey;
    max-width: 400px;
    position: relative;
    width: 400px;
    height: 560px;
    padding: 20px;
    padding-left: 25px;
    margin: 25px;
    background: white;
    border: none;
    text-align: left;
}

.about::before,
.about::after{
    position: absolute;
    width: 33px;
    height: 20px;
    content: "";
    padding-top: 150px;
}

.about::before{
    left: 0;
    top: 0;
    border-left: 2px solid grey;
    border-top: 2px solid grey;
}

.about::after{
    right: 0;
    bottom: 0;
    border-right: 2px solid grey;
    border-bottom: 2px solid grey;
}

.about > h2{
    font-size: 2rem;
    letter-spacing: 0.5rem;
}

/* Miami */


/* Mexico */


/* Press */
.press-container {
    align-items: center;
    padding-top: 75px;
    padding-bottom: 50px;
}

.press-header{
    font-size: 26px;
    line-height: 1.3;
    letter-spacing: 6px;
    text-align: center;
}

.press-container p{
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    width: 450px;
    margin: 0 auto;
}

.news-header{
    text-align: center;
    padding-bottom: 50px;
}

/*
.news-links{
    margin: 0;
    padding: 4rem 4rem;
    text-align: center;
}

.press-grid a{
    text-decoration: none;
    color: black;
    padding: 1rem 0rem;
    font-size: 1.5rem;
}
*/
.press-img{
    height: calc(100% - 19rem);
    width: 100%;
    object-fit: cover;
}

.press-tile{
    width: 100%;
    margin: 0;
    padding: 1rem 0rem;
}

.press-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 3rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 1rem;
}


/* Contact Us */

.contact-form-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
}

.contact-name{
    font-size: 16px;
    margin: 0 0 18px;
    padding-top: 75px;
}

.contact-label{
    margin: 0 0 46px;
}

.contact-form-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    background-color: black;
    color: white;
    padding-bottom: 25px;
}

.contact-form{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    min-width: 200px;
    width: 40vw;
}

.contact-form > h4{
    text-align: center;
    font-size: 18px;
}

.box, textarea, select{
    margin: 5px 0;
    padding: 15px;
    color: gray;
}

input[type="submit"]{
    display: block;
    height: 3em;
    width: 35%;
    font-size: 1.1rem;
    background-color: black;
    border: 2px solid white;
    color: white;
    min-width: 150px; 
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: auto;
    margin-left: auto;
}

.contact-details-header {
    margin-left: 165px;;
    font-size: 18px;
}

.contact-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  padding-bottom: 25px;
  border-bottom: 2px solid gray;
}

.contact-info a{
    color: white;
}

.social_links a{
    font-size: 50px;
    color: white;
    padding: 15px;
}

.social_links{
    display: flex;
    justify-content: center;
    margin-top: 30px;   
}
    
