/* main page */

body{
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

#header{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   background-color: darkgrey;
}

#header > .name{
    width: 100%;
    height: 100%;
    padding-left: 20px;
    font-size: 1.5em;
}

#navbar{
    font-weight: 400;
    width: 40vw;
    padding-top: 20px;

}

a{
    color: white;
    text-decoration: none;
    font-size: 1em;
    box-shadow: inset 0 0 0 0 white;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

a:hover{
    box-shadow: inset 200px 0 0 0 white;
    color: darkgrey
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li{
    list-style: none;
}

.name, .quote{
    color: white;
}

.skyline{
    position: relative;
    text-align: center;
}

.skyline > img{
    max-width: 100%;
}

.quote{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
}


/* about page */

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.headshot > img{
   width: 400px;
   padding-top: 75px;
}

.about{
    color: black;
    max-width: 400px;
    padding-bottom: 150px;
}